<div class="flex flex-col items-center gap-4 group min-h-[80vh]" id="<%= dom_id(color) %>">
  <div class="w-40 h-[70vh]" style="background-color: <%= color.hex %>;">

  </div>
  <%= link_to  color_pallete_color_path(color.color_pallete, color), data: { turbo_method: :delete }, class: "hidden group-hover:flex text-red-500" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  <% end %>
</div>